/*--------------------------------------------------------------
Teaser
--------------------------------------------------------------*/
/*teaser*/
section.teaser {
	background-image: url("https://www.middenoostenreizen.com//app/uploads/2019/04/iran-shiraz-nasir-al-molk-moskee.jpg");
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-bottom: 1em; */
  }

/*--------------------------------------------------------------
SECTION UITGELICHT   ---   3 koloms layout
--------------------------------------------------------------*/
section.uitgelicht img {
	display: block;
    border: 0;
	width: 100%;
	height: auto;
}

/*--------------------------------------------------------------
SECTION POPULAIRE BESTEMMINGEN
--------------------------------------------------------------*/

section.populair div.kliko {
	display: -ms-grid;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 0.4rem;
	justify-items: center;
	margin: 0;
	padding: 0;
}
  
figure.bestemmingen {
	padding: .2rem;
	
	font-size: 3rem;
	text-align: center;
	background-color: #333;
	color: #d9d9d9;
}
  
figure.bestemmingen > img {
	width: 200px;
	height: 600px;
	margin: 0.05em;
	transition: opacity 0.25s ease-in-out;
	
   -ms-object-fit: cover;
   -moz-object-fit: cover;
   -o-object-fit: cover;
   -webkit-object-fit: cover;
	object-fit: cover;
	
	overflow: hidden;
}
  
figure > img:hover {
	opacity: .6;
}


/*---------- RECENT ----------*/
article {
	margin: 1em;
}

section.recent article.card {
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	padding: 1em;
}

article.card img {
	display:block;
	width: 100%;
	height: auto;
}

/*--------------------------------------------------------------
############## GRID ###########################################
--------------------------------------------------------------*/

/* benamingen areas in grid template */
section.teaser {
	grid-area: teaser;
}
section.uitgelicht {
	grid-area: uitgelicht;
}
section.populair {
	grid-area: populair;
}
section.recent {
	grid-area: recent;
	display: flex;
	flex-grow: 0;
	flex-direction: column;
}

@media screen and (min-width: 500px) {

	main {
		display:grid;
		grid-template-areas:
			"teaser teaser"
			"uitgelicht uitgelicht"
			"recent recent"
			"populair populair"
        	
			/* "footer footer footer" */;
		grid-gap: 1em;
		justify-content: space-between;
	}
}

@media screen and (min-width: 700px) {

	main {
		display:grid;
        grid-template-areas:
		"teaser teaser teaser"
		"uitgelicht uitgelicht recent"
		"populair populair recent"
			/* "footer footer footer" */;
		grid-gap: 1em;
		justify-content: space-between;
	}
}

@media screen and (min-width: 500px) {
	@supports (display: flex) {

		.uitgelicht div {
			display: flex;
			justify-content: space-around;
		}

		.uitgelicht article {
			width: 31%;
		}

	}
}