





@media screen and (min-width: 700px) {

	main {
		display:grid;
		grid-template-areas:
		"uitgelicht uitgelicht recent"
		"populair populair recent"
		"footer footer footer";
		grid-gap: 1em;
		justify-content: space-between;
	}

							/* benamingen areas in grid template */
	section.uitgelicht {
		grid-area: uitgelicht;
	}

	section.populair { 
		grid-area: populair; 
		/* position: relative; */
	}

	section.recent {
		grid-area: recent;

		display: flex;
		flex-direction: column;
	}

	/*Footer*/

	footer {
		justify-self: center;
	}
}

/*--------------------------------------------------------------
SECTION UITGELICHT   ---   3 koloms layout
--------------------------------------------------------------*/

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 700px) {
	@supports (display: flex) {

		.uitgelicht div {
			display: flex;
			justify-content: space-around;
		}

		.uitgelicht article {
			width: 31%;
		}

	}
}
