/*==============================================================
####################  NOTES-TO-SELF  ##############
================================================================

Padding = binnen, Margin = buiten
----------------------------------------------------------------
.class1 .class2 		= alle elementen met class2 die afstammen van class1
.class1.class2 			= element met beide classes
p.class 				= alle p elementen met class
div p					= alle p elementen die afstammen van een div
--------------------------------------------------------------*/




/*==============================================================*/

/* ---------- KLEURVLAKKIES GRID ---------- */
/* .uitgelicht {
	background-color: bisque;
}
.populair {
	background-color: darkkhaki;
}
.recent {
	background-color: lightskyblue;
} */


/*==============================================================
##############  FRONTEND-DEVELOPMENT EINDWEBSITE  ##############
###############     TESSA SCHIJFF | KLAS 208b    ###############
==============================================================*/

body {
	padding: 0;
	margin: 0;
}

*, *::after, *::before {
	box-sizing:border-box;  
	font-family:'work sans', sans-serif;
	color: #333;
}

/* ---------- import ---------- */
@font-face {
	font-family: "South Mind", serif;
	src: url(fonts/SouthMind-Regular.ttf);
	text-align: center;
}

/*--------------------------------------------------------------
################  HEADER & NAVIGATIE ###########################
--------------------------------------------------------------*/

/* ---------- HEADERBALK  ---------- */
header {
	background-color:rgba(255, 255, 255, 0.95);
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:sticky;
	top:0;
}
  
header a {
	text-decoration:none;
}
  
header li {
	font-size: 1.4em;
}
  
header a:hover {
	color: rgba(255, 55, 55, 1);
}
  
/* ---------- LOGO ---------- */
header > a:first-of-type {
	padding:.5em;
	display:grid;
	grid-template-columns:min-content min-content;
	grid-gap:.25em;
	align-items:center;
}
  
header > a:first-of-type img {
	height:4em;
}
  
/* ---------- KNOPJE 'ZOEKEN' ---------- */
header > a:last-of-type {
	display:block;
	width:5em; height:2.5em;
	font-size:1em;
	line-height:2.5em;
	text-align:center;
	background-color:pink;
	border-radius:.25em;
}
  



/* =========== NAV =========== */
nav {
	order:-1;  
}
  
/*** HAMBURGER BUTTON ***/
nav button {
	position:relative;
	width:5em; height:2.5em;
	font-size:1.2em;
	background-color:rgba(255, 91, 91, 1);
	border:none;
	border-radius:.25em;
	appearance: none;
	cursor: pointer;
	z-index:400;
}
  
nav button::before {
	content:"\2630 ";
	display:inline-block;
	width:1em;
	transform:scale(1);
}
  
nav.toonMenu  button::before {
	content:"\274C";
}



/* ------------- Opmaak hamburger linkjes -------------- */
nav ul { 
	margin:0; 
	padding:4em 0 0;
	background:rgba(255, 180 , 180, 0.9) ;
	list-style:none;
	
	position:fixed;
	left:0; right:0; top:0; bottom:0; /* right op 80 geeft half menu, maar naast klikken voor sluiten werkt niet !! */
	transform:translatex(-100%);
	transition:.5s;
	z-index:50;
}
  
nav.toonMenu ul {
	transform:translatex(0);
}
  
li {
	margin:0; padding:0;
}
  
li a {
	display:block;
	padding:1em 1em 1em 3.5em;
			/* de meeste background properties zijn voor alle links gelijk */
			background-size:auto 2em;
			background-position:1em center;
			background-repeat:no-repeat;
			border-top:solid 1px rgba(255, 91, 91, 1);
}
  
li.active a {
	font-weight:bold;
}


/* -------------------HEADER NAV---------------------------- */
@media (min-width:64em) {
	nav {
	  order:0;  
	}
	
	nav button {
		display:none;
	}
	
	nav ul {
	  position:relative;
	  padding:0;
	  transform:none;
	  background:none;
	  display:flex;
	}
	
	nav a {
	  border:none;
	}
	
	.active {
	border-bottom:solid 4px rgba(255, 91, 91, 1);
  }
}

/*--------------------------------------------------------------
############################ LAYOUT ############################
--------------------------------------------------------------*/

/* Tekstopmaak fullbasic */
h1 {
	font-family: "South Mind", "Caveat", serif;
	font-size: 6em;
	color: rgba(255, 255, 255, 0.9);
}

h2 {
	font-family: 'Alegreya', serif;
	font-size: 36px;
	text-align: center;
	/* padding-bottom: 2em; */
	margin-bottom: 2em;
}

h2:after {
    display: block;
    margin: 0.5em auto;
    content: "";
    width: 50px;
	border-bottom: 5px solid rgba(255, 91, 91, 1);
}

article h3 {
	font-family: 'Alegreya', serif;
	font-size: 24px;
}

p, time {
	font-size: 18px;
	margin-bottom: 0.5rem;
}

figcaption {
	color: white;
	align-self: center;
	padding-bottom: 0.2em;
	font-family: "Alegreya", serif;
	font-size: 0.4em;
}

/*--------------------------------------------------------------
########################## ELEMENTEN ###########################
--------------------------------------------------------------*/


/* buttons */
a .btn {
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	color: white;
}

.btn {
			/* position: absolute; */
	background-color: rgb(255, 91, 91);
	padding: 20px;
	font-size: 22px;
	text-align: center;
}

.btn:hover {
	background-color: #ff3737;
}