/*--------------------------------------------------------------
##############  FRONTEND-DEVELOPMENT EINDWEBSITE  ##############
###############     TESSA SCHIJFF | KLAS 208b    ###############
--------------------------------------------------------------*/

/* *, *::after, *::before {
	box-sizing:border-box;  
  } */

/*------ Basis layout ------*/

body {
	min-width: 1vw;
	max-width: 1vw;
	margin: 1em;
	justify-self: center;
	/* align-items: center; */
}

main {
	width: 1vw;
	justify-self: center;
	justify-content: stretch;
}



@media screen and (min-width: 700px) {

	body {
		min-width: 1vw ;
/* 		display: grid ;
		grid-template-columns: 1fr 2fr 1fr ;
		grid-template-rows: auto ; */

/* 		grid-template-areas:
			"header header header"
			"uitgelicht uitgelicht recent"
			"populair populair recent"
            "footer footer footer"; */
	}

	main {
		width: 1vw;
		display:grid;
		/* grid-template-columns:1fr 2fr 1fr; */
		grid-template-areas:
		/* "header header header" */
		"uitgelicht uitgelicht recent"
		"populair populair recent"
		"footer footer footer";
		gap: 2em;
	  }

	section.uitgelicht {
		grid-area: uitgelicht;
		display: flex;
		/* display: grid; */
/* 		grid-column: 1/3;
		grid-row: 2/3; */
	}
	
	section.populair {
		grid-area: populair;
		display: flex;
		/* display: grid; */
/* 		grid-column: 3/5;
		grid-row: 2/3; */
	}
	
	section.recent {
		grid-area: recent;
		display: table;
		/* display: grid; */
/* 		grid-column: 3/4;
		grid-row: 2/4; */
	}
	
	footer {
		justify-self: center;
		/* grid-area: footer; */
		display: grid;
/* 		grid-column: 1/4;
		grid-row: 4/5; */
	}
}

/*--------------------------------------------------------------
SECTION UITGELICHT   ---   3 koloms layout
--------------------------------------------------------------*/

img {
    display: block;
    border: 0;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 700px) {
	@supports (display: flex) {

		.uitgelicht div {
			display: flex;
			justify-content: space-around;
		}

		.uitgelicht article {
			width: 31%;
		}

	}
}
